<html>
<head>
    <title>{{ page.title }}</title>
    <meta charset='UTF-8'>
    <meta content='width=device-width, initial-scale=1' name='viewport'/>

    <meta name='description' content='Gregory Gundersen is a PhD candidate at Princeton.'>
    <meta name='keywords' content='{{ page.keywords }}'>
    <meta name='author' content='Gregory Gundersen'>

    <link href='/css/blog.css' rel='stylesheet'/>
    <link href='/css/trac.css' rel='stylesheet'/>
    <link href='/css/markdown.css' rel='stylesheet'/>

    
</head>
<body>
    <div class='content'>
    {% include nav.html %}
    <div class='front-matter'>
        <div class='wrap'>
            <h1 style="text-align:left;">{{ page.title }}</h1>
            <h4 style="text-align:left;">{{ page.subtitle }}</h4>
    </div>
    </div>
    <div style>
  <ul>
  {% for post in site.posts %}
  <li>
    
<h3><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
{{page.date}}

{{ post.excerpt }}

<a href={{ post.url }}> [Read More] </a>
  </li>
{% endfor %}
</ul>
    </div>
    </div>
<div class='footer'> Theme by:<a href="https://github.com/gwgundersen">Gary Gundersen</a></div>
</body>
</html>
